{% load static %}


      <!-- ##### Footer Area Start ##### -->
	  <footer class="footer-area section-padding-100" id="footer" style="padding-top: 100px; margin-top: 0px">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <!-- Footer Content -->
                <div class="col-12 col-lg-4">
                    <div class="footer-content">
                        <!-- Logo -->
                        <a href="{{ '/' }}" class="foo-logo"><img src="{% static 'images/02.png' %}" alt=""></a>
                        <h2 id="name">Albania Services</h2><br>
                        <p>Offers services for your home.</p>
                        <p>© 2020 Albania Services. All rights reserved.</p>

                        <div class="footer-social-info d-flex">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/smart.home.albania?r=nametag"><i class="fa fa-instagram"></i></a>

                            
                        </div>
                    </div>
                </div>
                <!-- Footer Content -->
                <div class="col-12 col-lg-5 col-xl-7">
                    <div class="footer-content d-flex flex-wrap">
                        <!-- Footer Nav -->
                        <div class="footer-nav">
                            <h5 class="widget-title">Rreth Nesh</h5>
                            <nav>
                                <ul>
                                    <li><a href="sherbimet.html">Shërbimet</a></li>
									<li><a href="projektet.html">Projektet</a></li>
									<li><a href="rrethnesh.html">Rreth Nesh</a></li>

                                </ul>
                            </nav>
                        </div>

                        <!-- Footer Nav -->
                        <div class="footer-nav">
                            <h5 class="widget-title">Kontakti</h5>
                            <nav>
                                <ul>
                                    <li><a href="https://goo.gl/maps/sqUgusjANtdck5te6">Rruga: Shëtitorja Murat Toptani, Tiranë</a></li>
                                    <li><a href="tel:+355683769994">+355683769994</a></li>
                                    <li><a href="tel:+355684035105 ">+355684035105 </a></li>
                                    <li>albaniaservice@gmail.com</li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Video Catagory -->
                        <div class="video-catagory">
                            <h5 class="widget-title">Kategoritë </h5>
                            <ul>
                                <li><a href="sherbimet.html"><span>Shërbimet</span></a></li>
                                <li><a href="kontakt.html"><span>Kontakti</span> </a></li>
                                <li><a href="projektet.html"><span>Projektet</span> </a></li>
                                <li><a href="rrethnesh.html"><span>Rreth Nesh</span> </a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Copywrite Text -->
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made for Albania Services Company <a href="{{ '/' }}" target="_blank">  by <a href="#" target="_blank"> Elo's</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
